form {
  display: flow-root;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: darkolivegreen;
  justify-content: center;
  text-align: center;
}

label {
  margin-bottom: 0px;
}

input {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
}
