Form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: lightslategray;
  justify-content: center;
  align-items: center;
  text-align: center;
}

label {
  margin-bottom: 0px;
}

Input {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
}
Form.Item {
  padding: 80px;
}
