.login {
  justify-content: center;
  background-color: grey;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 180px;
  margin-left: 400px;
  margin-right: 400px;
  padding-bottom: 30px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.pass {
  padding-top: 20px;
}
label {
  font-family: "Courier New", Courier, monospace;
  font-size: large;
}
