.logo {
  display: flex;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: darkgrey;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr 1fr;
  align-items: center;
  height: 7.2rem;
  padding: 0 3.2rem;
  width: 84.5rem;
}
nav img {
  border-radius: 50%;
  margin-top: 0px;
  max-width: 100%;
  width: 100px;
  height: 100px;
}
ul {
  display: flex;
  list-style: none;
  gap: 2rem;
  align-items: center;
}
nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-light--2);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

li {
  margin-left: 10px;
}
.search {
  justify-self: center;
  border: none;
  padding: 10px;
  font-size: 0.8rem;
  border-radius: 0.7rem;
  width: 20rem;
  transition: all 0.3s;
  color: var(--color-text);

  /* background-color: var(--color-background-900);
  background-color: var(--color-primary-light); */
}
